<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CalEnergy Dashboard</title>
        <link rel="icon" href="{{ url_for('static', filename='images/Pontem_logo.png') }}" type="image/x-icon">

        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body class="bg-sky-50 p-6">
        <div class="flex justify-between px-10 mb-8">
            <img src="/static/images/company-logo.png" alt="company Logo" class="h-28">
            <img src="/static/images/logo.png" alt="company Logo" class="h-16 pt-4">
            <img src="/static/images/px-energy.png" alt="company Logo" class="h-24">

        </div>

        <!-- Form Section -->
        <div id="generic-form" class="max-w-6xl mx-auto bg-sky-100 shadow-lg rounded-lg p-8 flex">
            <!-- Form on the Left -->
            <form id="upload-form" method="POST" enctype="multipart/form-data" action="/calculate" class="w-3/4 pr-8 border-r">
                <h2 id="form-title" class="bg-cyan-700 text-white text-xl p-4 rounded mb-8">Gunnedah Solar Farm</h2>
                
                <div class="flex items-center mb-6">
                    <label for="file_production" class="w-2/3 text-lg font-medium text-gray-700">Production CSV</label>
                    <input
                        type="file"
                        id="file_production"
                        name="file_production"
                        accept=".csv"
                        class="w-2/3 border border-gray-300 rounded-lg p-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
                    />
                </div>
            </form>

            <!-- Buttons on the Right -->
            <div class="w-0.5/4 pl-6 flex flex-col items-center justify-center space-y-20">
                <div class="dropdown">
                    <select
                        onchange="updateForm(this)"
                        class="bg-cyan-700 text-white font-medium text-lg px-6 py-3 rounded-lg hover:bg-cyan-900 transition focus:outline-none focus:ring-2 focus:ring-cyan-400"
                    >
                        <option value="Gunnedah" selected>Gunnedah</option>
                        <option value="Suntop">Suntop</option>
                    </select>
                </div>

                <div id="loading-indicator" class="text-center hidden text-cyan-700 absolute top-44">
                    Graphs are generating...
                </div>
                

                <button
                    id="generate-button"
                    type="submit"
                    form="upload-form"
                    class="bg-cyan-700 text-white font-medium text-lg px-6 py-3 rounded-lg hover:bg-cyan-900 transition focus:outline-none focus:ring-2 focus:ring-cyan-400"
                >
                    Generate Graphs
                </button>
            </div>

        </div>
        <!-- Graphs Section -->
        <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-2 max-w-6xl mx-auto">
            <div class="border p-6 rounded-lg bg-green-100">
                <h2 id="janp-title" class="text-xl font-bold mb-4 text-center"></h2>
                <div id="jan-production" class="graph-content"></div>
            </div>
    
            <div class="border p-6 rounded-lg bg-slate-200">
                <h2 id="mayp-title" class="text-xl font-bold mb-4 text-center"></h2>
                <div id="may-production" class="graph-content"></div>
            </div>

        </div>
        <div class="border p-6 rounded-lg bg-green-100 max-w-6xl mx-auto mt-2">
            <h2 id="janco-title" class="text-xl font-bold mb-4 text-center"></h2>
            <div id="jan-combined" class="graph-content"></div>
        </div>
        <div class="border p-6 rounded-lg bg-slate-200 max-w-6xl mx-auto mt-2">
            <h2 id="mayco-title" class="text-xl font-bold mb-4 text-center"></h2>
            <div id="may-combined" class="graph-content"></div>
        </div>
        

        <div class="mt-2 grid grid-cols-1 md:grid-cols-2 gap-2 max-w-6xl mx-auto">

            <div class="border p-6 rounded-lg bg-green-100">
                <h2 id="jan-energy-lost-title" class="text-xl font-bold mb-4 text-center"></h2>
                <div id="jan-energy-lost" class="graph-content align-center"></div>
            </div>

            <div class="border p-6 rounded-lg bg-slate-200">
                <h2 id="may-energy-lost-title" class="text-xl font-bold mb-4 text-center"></h2>
                <div id="may-energy-lost" class="graph-content align-center"></div>
            </div>

            <div class="border p-6 rounded-lg bg-green-100">
                <h2 id="jan-energytitle" class="text-xl font-bold mb-4 text-center"></h2>
                <div id="jan-energy" class="graph-content align-center"></div>
            </div>  
    
            <div class="border p-6 rounded-lg bg-slate-200">
                <h2 id="may-energytitle" class="text-xl font-bold mb-4 text-center"></h2>
                <div id="may-energy" class="graph-content align-center"></div>
            </div>
        </div>
        <script>
            function updateForm(selectElement) {
                const formTitle = document.getElementById('form-title');
                const selectedFarm = selectElement.value;
                // Clear the graph contents
                document.getElementById('jan-production').innerHTML = '';
                document.getElementById('may-production').innerHTML = '';
                document.getElementById('jan-combined').innerHTML = '';
                document.getElementById('may-combined').innerHTML = '';
                document.getElementById('jan-energy-lost').innerHTML = '';
                document.getElementById('may-energy-lost').innerHTML = '';
                document.getElementById('jan-energy').innerHTML = '';
                document.getElementById('may-energy').innerHTML = '';
        
                // Reset form inputs
                document.getElementById('upload-form').reset();
        
                // Update form title
                formTitle.textContent = `${selectedFarm} Solar Farm`;
        
                // Update graph titles
                document.getElementById('janp-title').textContent = `${selectedFarm} January Production`;
                document.getElementById('mayp-title').textContent = `${selectedFarm} May Production`;
                document.getElementById('janco-title').textContent = `${selectedFarm} January Combined`;
                document.getElementById('mayco-title').textContent = `${selectedFarm} May Combined`;
                document.getElementById('jan-energy-lost-title').textContent = `${selectedFarm} January Energy Lost Graph`;
                document.getElementById('may-energy-lost-title').textContent = `${selectedFarm} May Energy Lost Graph`;
                document.getElementById('jan-energytitle').textContent = `${selectedFarm} January energy Lost in Watts`;
                document.getElementById('may-energytitle').textContent = `${selectedFarm} May energy Lost in Watts`;
        
                // Update button and form colors based on selected farm
                const generateButton = document.getElementById('generate-button');
                const formSection = document.getElementById('generic-form');
                const dropdown = document.querySelector('select'); // Get the dropdown element
            }
        
            $(document).ready(function () {
                // Automatically trigger the form update for default farm on page load
                updateForm(document.querySelector('select')); // Call the updateForm function with the default selection
        
                $('#upload-form').on('submit', function (event) {
                    event.preventDefault(); // Prevent form submission
                    $('#loading-indicator').removeClass('hidden');
                    let formData = new FormData(this);
        
                    $.ajax({
                        url: '/calculate',
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            // Dynamically inject the graphs into the page
                            $('#jan-production').html(response.production.january);
                            $('#may-production').html(response.production.may);
                            $('#jan-combined').html(response.combined1);
                            $('#may-combined').html(response.combined2);
                            $('#jan-energy-lost').html(response.energy_lost1);
                            $('#may-energy-lost').html(response.energy_lost2);
                            $('#jan-energy').html(response.energy1) ;
                            $('#may-energy').html(response.energy2);
                            $('#loading-indicator').addClass('hidden'); // Hide loading indicator on success

                        },
                        error: function (xhr) {
                            alert(`Error: ${xhr.responseJSON.error}`);
                            $('#loading-indicator').addClass('hidden'); 

                        }
                    });
                });
            });
            function updateLabel(id, fileName) {
            document.getElementById(`${id}_label`).textContent = fileName || "No file chosen";
            }
        </script>
        

    </body>
</html>
